body::before {
    content: "X-Small <576px";
    background-color: rgb(255, 249, 196);
    padding: .8rem;
    width: 100%;
    display: block;
    text-align: center;
    border: black 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    // position: fixed;
}

body {
    margin: 0;
}

@media screen and (min-width: 576px) {
    body::before {
        content: "Small sm ≥576px";
        background-color: rgb(255, 249, 196);
    }
}

@media screen and (min-width: 768px) {
    body::before {
        content: "Medium md ≥768px";
        background-color: rgb(255, 249, 196);
    }
}

@media screen and (min-width: 992px) {
    body::before {
        content: "Large lg ≥992px";
        background-color: rgb(255, 249, 196);
    }
}

@media screen and (min-width: 1200px) {
    body::before {
        content: "Extra large xl ≥1200px";
        background-color: rgb(255, 249, 196);
    }
}

@media screen and (min-width: 1400px) {
    body::before {
        content: "Extra extra large xxl ≥1400px";
        background-color: rgb(255, 249, 196);
    }
}